<div class="container">
  <div class="container-box">
    <div class="score-box">
      <div class="score">
        점수 : {{score}}
      </div>
    </div>
    <div class="game-box">
      <div *ngIf="score <= 0" class="game-over">
        <div class="text">
          Game Over!
        </div>
      </div>
      <div class="word-box">
        <div *ngFor="let item of word" class="word" [ngStyle]="{top: item.offsetY+'%', left: item.offsetX+'%'}">
          {{ item.value }}
        </div>
      </div>
      <div class="react-box">
        <div *ngFor="let item of answer" class="answer-box">
          <div class="answer" [ngClass]="[item.color]">{{ item.value }}</div>
        </div>
      </div>
    </div>
    <div class="form-box">
      <input type="text" placeholder="단어입력" (keyup.enter)="keyupEnter($event)">
      <button *ngIf="url == 'main'" type="button" (click)="togglePlay('play')">start</button>
      <button *ngIf="url == 'play'" type="button" (click)="togglePlay('main')">stop</button>
      <button type="button" (click)="testBtn()">test</button>
    </div>
  </div>
</div>
